In [14]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [8]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract
first_row = session.query(Measurement).first()
first_row.__dict__

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x20fa6f59c70>,
 'tobs': 65.0,
 'date': '2010-01-01',
 'id': 1,
 'prcp': 0.08,
 'station': 'USC00519397'}

In [12]:
june_temp = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

In [5]:
#  3. Convert the June temperatures to a list.

In [24]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(june_temp, columns=['tobs'])
df2 = df.set_axis(['June Temps'], axis=1, inplace=False)
df2

      June Temps
0           78.0
1           76.0
2           78.0
3           76.0
4           77.0
...          ...
1695        79.0
1696        74.0
1697        74.0
1698        76.0
1699        75.0

[1700 rows x 1 columns]

In [26]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df2.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [18]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temp = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==12).all()

In [9]:
# 7. Convert the December temperatures to a list.

In [27]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temp, columns=['tobs'])
df3 = dec_df.set_axis(['December Temps'], axis=1, inplace=False)
df3

      December Temps
0               76.0
1               74.0
2               74.0
3               64.0
4               64.0
...              ...
1512            71.0
1513            71.0
1514            69.0
1515            65.0
1516            65.0

[1517 rows x 1 columns]

In [28]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df3.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000